	<div class="row">
		<div class="col-md-4">
			<%= render 'shared/sidebar' %>
		</div>

		<div class="col-md-8">
			<h2>Admin Dashboard</h2>
			<div class="row">
				<div class="col-md-4">
					<h2>54</h2><h6>Products</h6>
				</div>
				<div class="col-md-4"><h2>54</h2><h6>Users</h6></div>
				<div class="col-md-4"><h2>54</h2><h6>Orders</h6></div>
			</div>

			<div class="row">
				<h3>World Domination</h3>
				<h1>Map Here</h1>
			</div>
		</div>
	</div>