
    <style>
      .form-block{
      margin-top: 2%;
      margin-bottom: 2%;

      }
      .product-grid-item{
        padding:2%;
      }
      .search-form{
        margin-top: 4%;
        margin-bottom: 3%;
      }
    </style>

  </head>

<div class="container">

<p id="notice"><%= notice %></p>

<h1>Products</h1>
    <div class="row">
      <div class="col-md-8 mx-auto search-form">
        <input type="text" class="form-control" placeholder="Search" for="" product="">
      </div>
    </div>
    <div class="row">




     <% @products.each do |product| %>
      <div class="col-md-3 product-grid-item">
        <div class="product-box">
          <div class="row">
           
               
                
                <% if product.image.attached? %>
                  <% image_tag product.image %>
                <% end %>    
            
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5><%= link_to product.title, product_path(product.id) %></h5>
            </div>
            <div class="col-md-5"><h5><span class="badge badge-success">$<%= product.price %></span></h5></div>
            <div class="col-md-7">
              <button class="btn btn-primary">Add to cart</button>
            </div>
          </div>
        </div>
        
      </div>
      <% end.empty? and begin %>
          <h3 class="mx-auto">No Products Added Yet</h3>
      <% end %>


    </div>
  </div>

